.custom-h2{
 color: green;   
}

.custom-navbar{
        background-color: white !important;
}

.navbar-custom .nav-item .nav-link {
    color: black !important;
}


.ml-auto {
    margin-left: 14% !important;
}

.basic-1 .image-container {
    width: 400px !important;
    text-align: center !important;
    margin-top: -10px !important;
    margin-bottom: 35px;
}

.custom-img-fluid {
    max-width: 65% !important;
}

a.grey{
   color: #969a9e;
}
.navbar-custom .navbar-brand.logo-image img {
     height: unset !important;
     -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;

}

.navbar-custom .navbar-toggler {
    color: black;
}
.vl {
  border-left: 6px solid #14bf98; 
  height: 65px;
  margin : 0px 10px;
}   

.custom-cards{
    background-color : #14bf9812;
    padding-top: 6.875rem;

}

.custom-cards .card {
         background-color: unset !important;
}
.navbar-custom .custom-logo-image-right {
    display: contents ;
}
.navbar-brand {
     padding-top: 0rem !important; 
     padding-bottom: 0rem !important;
    }
    
.custom-powered-by{
    padding: 20px 0px !important;
    border-top: 5px solid lightgray;
    background-color: #14bf98;
}

.section-title { 
    color: #14bf98;
    font: 500 1.8125rem/1.125rem "Montserrat", sans-serif;
    margin-bottom: 1.5rem;
    text-decoration: underline;
}

.mbl-logo{
    width: 4rem !important;
}

.custom-hexagon{
    background: url(../images/hexagon-white.svg) center center no-repeat !important;
    background-size: 8.25rem 25.25rem !important;
    position: absolute !important;
    width: 11rem !important;
    height: 4.25rem !important;
}

.custom-fa-stack {
    width: 11.25rem !important;
    height: 3.25rem;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}
.custom-logo-span img{
    margin-left: 30px;margin-top: 8px; 
    margin-left: 30px;
    margin-top: 8px;
    left: 0;
    position: absolute;
}

.custom-rules .list-unstyled .media-bullet {
    color: #14bf98;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
}

.custom-rules .media-body{
        word-break: break-word;
}

@media (min-width: 768px){
.navbar-custom.top-nav-collapse .nav-item .nav-link {
    color: black !important;
}

.navbar-custom.top-nav-collapse {
    background-color: white !important;
}

.navbar-custom.top-nav-collapse .nvidia-logo img {
  width:78px !important;
}
.navbar-custom {
    padding: 0rem 1.5rem 0rem 2rem !important;
}
.navbar-custom.top-nav-collapse .nav-item .nav-link:hover, .navbar-custom.top-nav-collapse .nav-item .nav-link.active {
    color: #14bf98 !important;
}
}

@media (min-width: 992px){
.custom-cards .card {
     max-width: unset !important; 
}
}
.form-control-input{
    padding-top: 2.25rem;
}
.container {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}